## Python Sets
 - Sets are used to store the  collection of data in python. It is unordered and unindexed. Sets contain unique values. 
 - It is also represented as curly brackets. Ex: Set = { } or Set( )

In [1]:
#Example for Sets
sets={1,2,3,2,6,3,8,12}
print(sets)

{1, 2, 3, 6, 8, 12}

In [2]:
#add( ): Adds an element at the end of the Set
sets.add(13)
print(sets)

{1, 2, 3, 6, 8, 12, 13}

In [3]:
#copy( ): Returns copy of the Set
s={8,9,7}

In [4]:
#clear( ): removes all the elements in the Set
s.clear()
s

set()

In [5]:
#pop( ): Removes the element from the end of the Set
sets.pop()
print(sets)

{2, 3, 6, 8, 12, 13}

In [6]:
#remove( ): Removes specified element
# sets.remove()
sets.remove(13)

In [7]:
setsu={1,3,5,7,9}

In [8]:
#update( ): Adds an entire set into another set.
su={2,4,6,0}

In [9]:
su.update(setsu)
su

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [10]:
#difference_update( ): Returns the new updated set after make a difference between the two sets.
s1={1,2,4,7,9}
s2={6,7,8,9}
s1.difference_update(s2)
s1

{1, 2, 4}

In [11]:
s1={1,2,4,7,9}
s2={6,7,8,9}
s2.difference_update(s1)
s2

{6, 8}

In [12]:
s=['muni','sai','chalapthi']
s.sort(key=len ,reverse=True)
s

['chalapthi', 'muni', 'sai']

## List Comparhension 
* Python has an easier way to solve this issue using List Comprehension. List comprehension is an elegant way to define and create lists based on existing lists.

In [13]:
#Syntax of List Comprehension
#[expression for item in list]
#List Comprehension Syntax breakdown

In [14]:
# We need to generate the nanatural number 1 to 10 to append list 
n=10
li=[]
for i in range(0,11):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l2=[i for i in range(0,11) ]
l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
h_letters = []

for letter in 'human':
    h_letters.append(letter)

print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [17]:
h_letter="apssdc"
l=[h for h in h_letter]
print(l)

['a', 'p', 's', 's', 'd', 'c']

In [18]:
l2="".join(l)
l2

'apssdc'

In [19]:
letters = list(map(lambda x: x, 'human'))
print(letters)

['h', 'u', 'm', 'a', 'n']

In [20]:
lett=list(map(lambda x:x,"muni"))
lett

['m', 'u', 'n', 'i']

In [21]:
n=int(input())
l=[i for i in range(0,n+1) if n%2==0 ]
l

10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# lb=int(input())
# ub=int(input())
n=int(input())
def isPrime(n):
    if n>=2:
        return False
    for i in range(2,n//2+1):
        if n%i==0:
            return False
    return True
isPrime(n)

3

False

In [ ]:
# # Function to calculate the factorial

# def factorial(n):
#     if n == 0 or n == 1:
#         return 1
#     return n * factorial(n-1)
# factorial(5)
#1x2x3x4x5=120

In [ ]:
def isFactorial(n):
    if n==0 or n==1:
        return 1
    return n * isFactorial(n-1)
# isFactorial(5)
n=5
fa=[isFactorial(i) for i in range(1,n+1)]
fa

In [ ]:
# List Comprehension to store 
#only leap years in a given time period

st = 1970
et = 2019
leapYears = [i for i in range(st,et+1)
             if i % 400 == 0 or (i % 100 != 0 and i % 4 == 0)]
leapYears

In [ ]:
lb=2000
ub=2019
lpy=[i for i in range(lb,ub+1) 
    if i % 400 == 0 or (i% 100 !=0 and i % 4==0)]
lpy

In [ ]:
n=2001
lb=[i for i in range(n) if i % 400 ==0 or ( i % 100!=0 and i % 4==0)]

In [ ]:
import re

s=re.match('a','asdf')
s

In [ ]:
# s=re.match('a','sdfa')
s=re.search('a','sdfa')
s

In [ ]:
s=re.findall('a','sdafa')
s

In [ ]:
s=re.findall('^[a-z]*','amuni1')
s

In [ ]:
import numpy as np

li=[1,2,3,4,5,'z']

a=np.array(li)
a
b=np.arange(15)
b

In [ ]:
m3=np.random.randint(0,2,size=(3,3,3,3))
m3

In [ ]:
m3.ndim

In [ ]:
m3.size

In [ ]:
m3.shape

In [ ]:
m3.dtype

In [ ]:
m3.itemsize

## Pandas
- Use Cases
    * Data Cleaing
    * Data Trasformation
    * Data analysis 
- Notations 
    * Series 
    * Frames

In [ ]:
import pandas as pd

fmid={'s1':21,'s2':25,'s3':18}
fmid = pd.Series(fmid)
fmid

In [ ]:
import pandas as pd


internal1 = {'s1':21, 's2':18, 's3':24}

internal1 = pd.Series(internal1)

internal2 = {'s1':15, 's2':18, 's3':12}
internal2 = pd.Series(internal2)
internal2

In [ ]:
import pandas as pd
 
dists={'Kadapa':4,'Chitoor':2,'Ananthapur':1}
dicts=pd.Series(dists)
dicts

In [ ]:
inter1={'s1':12,'s2':24,'s3':14}
inter2={'s1':18,'s2':23,'s3':25}
final={'Internal1':inter1,'Internal2':inter2}
final=pd.DataFrame(final)
final

In [ ]:
final.columns

In [ ]:
final.values

In [ ]:
final.values[2]

In [ ]:
final.values[0,1]

In [ ]:
final.values[0,0]=1

In [ ]:
final.values[1,1]

# Python Regular Expresions 
* Regular Expressions are seqvence of charecters that match a pattern
* It is sybolic reprasentation 
* To use Regular expression we have to imoport the re(import re)
        * [ ] are represent a character
        * { } range set
        * ^   Matches the starting letter
        * $   Matches the ending 
        * *   Number of occarences (from 0)
        * +   Number of occurances (from 1)
        * .   Match a charecter
        * ?   for zero or oneoccarence
        * |   or
        * ()  enclosing of Reg

In [14]:
#read mode
fp='data.txt'
def readData(fp):
    with open(fp,'r') as f:
        d=f.read(30)
        print(d)
#         return d
readData(fp)

muni

In [15]:
#wirite mode
fp='data.txt'
def writeData(fp):
    with open(fp,'w') as f:
        d=f.write("muni")
        print(d)
writeData(fp)

4

In [41]:
#append mode
fp='data.txt'
def writeData(fp):
    with open(fp,'a') as f:
        d=f.write("\nHello Students Good Morning..!")
        print(d)
writeData(fp)

31

In [19]:
#open()
f='data.txt'
s=open(f)
fh=s.read()
print(fh)

munimuni
Hello Students Good Morning..!

In [33]:
#tell()
fp='data.txt'
def readData(fp):
    with open(fp,'r') as f:
        f.read()
        print(f.tell())
#         return d
readData(fp)

10

In [40]:
#seek()
fp='data.txt'
def readData(fp):
    with open(fp,'r') as f:
        f.read()
        f.seek(0)
        print(f.read(7))
#         f.read(7)
readData(fp)

APSSDC

In [42]:
#Split()
fp='data.txt'
def readData(fp):
    with open(fp,'r') as f:
        d=f.read()
        words=d.split()
        print(words)
#         return d
readData(fp)

['APSSDC', 'Hello', 'Students', 'Good', 'Morning..!']

In [44]:
#Read lines
fp='data.txt'
def readData(fp):
    with open(fp,'r') as f:
        d=f.readlines()
        for i in d:
            print(i)
        print(d)
readData(fp)

APSSDC

Hello Students Good Morning..!
['APSSDC\n', 'Hello Students Good Morning..!']

In [56]:
#Count the no of line in a file
def countLines(fp):
    c=0
    with open(fp,'r') as f:
        for i in f:
            c+=1
        return c
print(countLines(fp))

9

In [68]:
##Sets
s={1,2,5,4,6,5,100,10,20,30}
print(s)
print(s.copy())
print(s.pop())
print(s)
s1={7,8,9,1,5,6,10,20,30,40}
print(s1)
print(s.difference(s1))
print(s.difference_update(s1))
# print(s)

{1, 2, 4, 5, 6, 100, 10, 20, 30}
{1, 2, 4, 5, 6, 100, 10, 20, 30}
1
{2, 4, 5, 6, 100, 10, 20, 30}
{1, 5, 6, 7, 8, 9, 10, 40, 20, 30}
{100, 2, 4}
None

In [84]:
#union
stu1={10,20,30,40,50}
stu2={100,200,300,400,10,80,20,50}
print('Union -->',stu1.union(stu2))

Union --> {100, 40, 200, 10, 300, 400, 80, 50, 20, 30}

In [85]:
#Diffarence
print("Diffarence-->",stu1.difference(stu2))

Diffarence--> {40, 30}

In [86]:
#Intersetion
print('Interseton-->',stu1.intersection(stu2))

Interseton--> {10, 50, 20}

In [89]:
#Funtional Programming 
#List Comprahention
# Easy for cration list .It is more efficent to compare for loops
li=[i for i in range(1,10) if i%2==0]
li

[2, 4, 6, 8]

In [1]:
def isPrime(n):
    if n<2:
        return False
    for i in range(2,n//2+1):
        if i%n==0:
            return False
    return True
isPrime(5)
lb=3
ub=20
p=[i for i in range(lb,ub+1) if isPrime(i) ]
print(p)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]